mixin btn-small-fullcolor(text, attr)
    button.button.button__small.button__small_fullcolor(data-modal=attr) #{text}
mixin btn-small-fadecolor(text, attr)
    button.button.button__small.button__small_fadecolor(data-modal=attr) #{text}
mixin btn-small-bordercolor(text, attr)
    .gradient-box(data-modal=attr) #{text}
mixin btn-small-borderfade(text, attr)
    button.button.button__small.button__small_borderfade(data-modal=attr) #{text}

mixin btn-big-fullcolor(text, attr)
    button.button.button__big_text(data-modal=attr) #{text}
