mixin input_arrow(text, id, placehold, type)
    .input-container
        label.forms__input_label(for=id) #{text}
        input.forms__input.forms__input_default.forms__input_select_medium.forms__input_arrow(id=id type=type name=id placeholder=placehold)
